*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

body {
  background: url("./assets/bg.jpg") no-repeat fixed center/cover;
}

.content {
  width: 80%;
  margin-left: 20%;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 17px;
  }

  body {
    background-attachment: scroll;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}