.about {
  background: white;
  color: #3b3b3b;
  text-transform: uppercase;
  margin-bottom: 70px;
  display: flex;
  font-weight: 600;
  line-height: 1.25rem;
}

.title {
  margin: 0;
  padding: 60px 50px;
  font-size: 1.65rem;
}

.aboutTechWrap {
  flex: 1 1 auto;
  display: flex;
}

.aboutCol {
  flex: 1 1 auto;
  padding-bottom: 30px;
}

.aboutInfoWrap {
  margin: 50px 50px 0 50px;
  font-size: 0.7rem;
}

.aboutInfo {
  margin: 0;
}

.aboutInfo:not(:first-child) {
  margin-top: 10px;
}

.techCol {
  flex: 0 0 350px;
  background-color: #EDE06B;
  padding-bottom: 30px;
}

.techList {
  margin: 0 50px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.techListElement:not(:first-child) {
  margin-top: 30px;
}

.techTitle {
  margin: 0;
  font-size: 1.3rem;
}

.techInfo {
  margin: 0;
  margin-top: 5px;
  font-size: 0.7rem;
}

.techInfoLink {
  text-decoration: underline;
  color: black;
}

.contactQuoteWrap {
  flex: 0 0 350px;
  display: flex;
  flex-direction: column;
}

.contactCol {
  flex: 1 0 auto;
  background-color: #F2F2F2;
  padding-bottom: 30px;
}

.contacts {
  margin: 0 50px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.contactsElement:not(:first-child) {
  margin-top: 20px;
}

.contactTitle {
  margin: 0;
  font-size: 1.3rem;
}

.contactList {
  margin: 0 15px 0;
  padding: 0;
  list-style-type: "-";
}

.contactListElement {
  padding-left: 5px;
  font-size: 0.8rem;
  margin-top: 8px;
}

.contactLink {
  text-decoration: underline;
  color: #3b3b3b;
}

.contactInfo {
  margin: 25px 50px 0;
  font-size: 0.7rem;
}

.contactDirect {
  text-transform: none;
}

.quoteFigure {
  flex: 0 0 auto;
  margin: 0;
  color: #FFFFFF;
  padding: 70px 35px;
  text-align: center;
}

.quoteFigure:first-of-type {
  background-color: #313131;
}

.quoteFigure:last-of-type {
  background-color: #3C3C3C;
}

.quote {
  text-transform: none;
  margin: 0;
  quotes: "“" "”" "‘" "’";
  font-style: italic;
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 2rem;
}

.quote::before {
  content: open-quote;
}

.quote::after {
  content: close-quote;
}

.quoteCaption {
  margin-top: 20px;
  font-weight: 300;
  font-size: 1rem;
}

@media only screen and (max-width: 1480px) {
  .about {
    display: block;
  }

  .contactQuoteWrap {
    display: block;
  }

  .contacts {
    flex-direction: row;
  }
}

@media only screen and (max-width: 900px) {
  .about {
    margin-bottom: 0;
    padding-top: 50px;
  }
  
  .aboutTechWrap {
    display: block;
  }
}

@media only screen and (max-width: 499px) {
  .contacts {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
  .techList {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .techListElement {
    flex: 1 0 34%;
  }

  .techListElement:not(:first-child) {
    margin-top: 0;
  }

  .techListElement:nth-last-child(-n + 2) {
    margin-top: 30px;
  }

  .techListElement:nth-child(2n) {
    margin-left: 15px;
  }

  .techListElement:nth-child(2n + 1) {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1480px) and (min-width: 500px) {
  .contacts {
    flex-wrap: wrap;
  }

  .contactsElement:not(:first-child) {
    margin-top: 0;
    margin-left: 50px;
  }
}