.about {
  background: white;
  color: #3b3b3b;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.about.loading {
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_wrap {
  display: flex;
}

.about h2 {
  margin: 0;
  padding: 60px 50px;
  font-size: 1.65rem;
  font-weight: 600;
}

.about_flex-col {
  flex: 1 1 auto;
  display: flex;
}

.about_info {
  flex: 1 1 auto;
}

.about_info img {
  display: block;
  width: 100%;
}

.about_info p {
  margin: 50px 50px 30px 50px;
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-weight: 600;
}

.about_tech {
  flex: 0 0 350px;
  background-color: #EDE06B;
}

.about_tochange {
  flex: 0 0 350px;
  background-color: #F2F2F2;
}

@media only screen and (max-width: 1480px) {
  .about_wrap {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .about {
    margin-bottom: 0;
  }

  .about.loading {
    height: 100vh;
  }

  .about_wrap {
    display: block;
    padding-top: 50px;
    margin-bottom: 0;
  }
  
  .about_flex-col {
    display: block;
  }
}